# PIAIC ISLAMABAD CLASS 1

My first python program in piaic class.

In [4]:
print("hello world")

hello world

In [2]:
print("pakistan zinda bad")

pakistan zinda bad

In [11]:
Name = "QUART-UL-AIN"
Name = "simba"
Father = "GULZEB AKHTAR"
University = "BAHRIA UNIVERSITY"
message="""
PIAIC ISLAMABAD BTACH3
Name:{}
Father:{}
University:{}
""".format(Name,Father,University)
print(message)

PIAIC ISLAMABAD BTACH3
Name:simba
Father:GULZEB AKHTAR
University:BAHRIA UNIVERSITY

In [11]:
UNIVERSITY = "UNIVERSITY INSTITUTE OF INFORMATION TECHNOLOGY , ISLAMABAD"
Name = input("enter your name: ")
Father = (input("enter your father name: "))
Class = int(input("enter your class: "))
Age = int(input("enter your age: "))
x="""
UNIVERSITY:{}
Name:{}
Class:{}
Father:{}
Age:{}

""".format(UNIVERSITY,Name,Father,Class,Age)
print(x)

enter your name: qasim
enter your father name: gulzeb
enter your class: 12
enter your age: 15

UNIVERSITY:UNIVERSITY INSTITUTE OF INFORMATION TECHNOLOGY , ISLAMABAD
Name:qasim
Class:gulzeb
Father:12
Age:15