# FUNCTIONS

set of statements...instructions at the backend...
combined together to avoid repetition
single name to a lot of instructions

In [ ]:
TYPES:
a) USER DEFINED                  (ARGUMENT:while calling a function)
b) PRE DEFINED                   (PARAMETER:while defining a function)

In [ ]:
DEFAULT FUNCTION: A function that takes no arguments while calling
    =today();date
    =now():time

1.REQUIRED ARGUMENT FUNCTION  (which doesnt work without arguments): car movement,fuel=argument...shadi function
2.DEFAULT ARGUMENT FUNCTION  (if u provide argument ,well & good otherwise it can execute by its own) 
3.RECURSIVE FUNCTION  (A function that calls itself in its body) infinite loop
4.GENERATOR FUNCTION  (when called doesnt directly allocates in memory...step by step takes the members and allocates 
in memory) ...remembers its previous values.like no / by 5,10,15...
remembers 150
Range Function
5.LAMBDA FUNCTION  (Single line function,without name function..neither used before nor after)
6.POSITIONAL ARGUMENT   (role of position is imp...sequence/order to be kept in mind)
7.KEYWORD ARGUMENT   (position doesnt matters,,,directly assigns values to the arguments)
8.ARGUMENT WITH LIST  (L[0],L[1])  *LISTNAME..unzip argument...single argument from list 
is being passed as positional argument
9.ARGUMENT WITH DICTIONARY  ** NAME....keyword argument..key,value passed in function

# PRE DEFINED FUNCTION

In [1]:
print("abc")
print(len("123"))
print(type(22))
print(id("aa"))

abc
3
<class 'int'>
2402709050568

# USER DEFINED FUNCTION

In [ ]:
1.LINEAR PROGRAMMING                       one line for each statement,fast,non-efficient
2.FUNCTIONAL/PROCEDURAL PROGRAMMING        lines of code reduced,but slow

In [2]:
print("we are pakistani")
print("we love our country")
print("pakistan zindabad")

we are pakistani
we love our country
pakistan zindabad

In [3]:
def abc():                 #default function
    print("we are pakistani")
    print("we love our country")                
    print("pakistan zindabad")
    
abc()     #function calling

we are pakistani
we love our country
pakistan zindabad

In [5]:
abc()
print("MS")
print("calling")
abc()

we are pakistani
we love our country
pakistan zindabad
MS
calling
we are pakistani
we love our country
pakistan zindabad

# REQUIRED ARGUMENTS

In [2]:
def id_card(sid,sname,fname,course,timing):
    text="""
    PIAIC ISLAMABAD
    id:{}
    Name:{}
    Father's Name:{}
    Course:{}
    timing:{}
    """.format(sid,sname,fname,course,timing)
    print(text)

id_card(1,"ali","hamza","AI",'9 to 12')
id_card(2,"mubashir","sultan","Aero","3 to 12")

    PIAIC ISLAMABAD
    id:1
    Name:ali
    Father's Name:hamza
    Course:AI
    timing:9 to 12


    PIAIC ISLAMABAD
    id:2
    Name:mubashir
    Father's Name:sultan
    Course:Aero
    timing:3 to 12

In [3]:
data= [[1,"qasim","arshad","A.I","9 to 12"],
      [2,"mubashir","sultan","AERO"," 3 t0 12"]]
for v in data:
    #id_card(v[0],v[1],v[2],v[3],v[4])
     id_card(*v)

    PIAIC ISLAMABAD
    id:1
    Name:qasim
    Father's Name:arshad
    Course:A.I
    timing:9 to 12


    PIAIC ISLAMABAD
    id:2
    Name:mubashir
    Father's Name:sultan
    Course:AERO
    timing: 3 t0 12

# OPTIONAL ARGUMENTS

In [29]:
def abc(x, y=0, z=0):    x=required argument...y,z=optional arguments
    print(x,y,z)
    print(x+y+z)

abc(5)

5 0 0
5

In [30]:
abc(5,7)

5 7 0
12

In [32]:
abc(1,2,3)

1 2 3
6

In [31]:
abc()

TypeError: abc() missing 1 required positional argument: 'x'

# RETURN AND NON RETURN FUNCTION

In [ ]:
a) return function ...whose result can be further assigened to anyother variable
b) non return function ...whose result cant be further assigened to anyother variable

In [36]:
abc=print("paksitan")
print(abc)             #NON RETURN FUNCTION

paksitan
None

In [37]:
x=abc(1,2,3)    #NON RETURN FUNCTION
x

TypeError: 'NoneType' object is not callable

In [38]:
card=id_card("1","A","B","C","D")
print(card)

    PIAIC ISLAMABAD
    id:1
    Name:A
    Father's Name:B
    Course:C
    timing:D

None

In [ ]:
RETURN FUNCTION

In [40]:
def id_card(sid,sname,fname,course,timing):
    text="""
    PIAIC ISLAMABAD
    id:{}
    Name:{}
    Father's Name:{}
    Course:{}
    timing:{}
    """.format(sid,sname,fname,course,timing)
    print(text)
    return text,"qasim","ali"     # exit after first return
    #return "qasim"
    #return "ALI"

id_card(1,"ali","hamza","AI",'9 to 12')
id_card(2,"mubashir","sultan","Aero","3 to 12")
print(*id_card(1,"A","B","C","D"))

    PIAIC ISLAMABAD
    id:1
    Name:ali
    Father's Name:hamza
    Course:AI
    timing:9 to 12


    PIAIC ISLAMABAD
    id:2
    Name:mubashir
    Father's Name:sultan
    Course:Aero
    timing:3 to 12


    PIAIC ISLAMABAD
    id:1
    Name:A
    Father's Name:B
    Course:C
    timing:D


    PIAIC ISLAMABAD
    id:1
    Name:A
    Father's Name:B
    Course:C
    timing:D
     qasim ali

In [ ]:
MULTI RETURN ....returns in multi line then it will only return 1st line,,so return a,b,c
SINGLE RETURN

In [41]:
print(*id_card(1,"A","B","C","D"),[1])

    PIAIC ISLAMABAD
    id:1
    Name:A
    Father's Name:B
    Course:C
    timing:D


    PIAIC ISLAMABAD
    id:1
    Name:A
    Father's Name:B
    Course:C
    timing:D
     qasim ali [1]

In [43]:
id_card(*(33,"anie","simba","AI","2 TO 10"))

    PIAIC ISLAMABAD
    id:33
    Name:anie
    Father's Name:simba
    Course:AI
    timing:2 TO 10

("\n    PIAIC ISLAMABAD\n    id:33\n    Name:anie\n    Father's Name:simba\n    Course:AI\n    timing:2 TO 10\n    ",
 'qasim',
 'ali')

In [44]:
id_card(33,"anie","simba","AI","2 TO 10")

    PIAIC ISLAMABAD
    id:33
    Name:anie
    Father's Name:simba
    Course:AI
    timing:2 TO 10

("\n    PIAIC ISLAMABAD\n    id:33\n    Name:anie\n    Father's Name:simba\n    Course:AI\n    timing:2 TO 10\n    ",
 'qasim',
 'ali')

In [45]:
print(*id_card(33,"anie","simba","AI","2 TO 10"))

    PIAIC ISLAMABAD
    id:33
    Name:anie
    Father's Name:simba
    Course:AI
    timing:2 TO 10


    PIAIC ISLAMABAD
    id:33
    Name:anie
    Father's Name:simba
    Course:AI
    timing:2 TO 10
     qasim ali

In [47]:
def abc(x=1,y=1,z=1):
    return x+y*z
abc(2,4,6)

26

# KEYWORD ARGUMENT

In [60]:
def id_card(sid,sname,fname,course,timing):
    text="""
    PIAIC ISLAMABAD
    id:{}
    Name:{}
    Father's Name:{}
    Course:{}
    timing:{}
    """.format(sid,sname,fname,course,timing)
    print(text)

id_card("mubashir",2,"sultan","Aero","3 to 12")                 #problem due to positioning

    PIAIC ISLAMABAD
    id:mubashir
    Name:2
    Father's Name:sultan
    Course:Aero
    timing:3 to 12

In [58]:
print(id_card(course="Aero",timing="3 to 12",sid=1234,sname="mubashir",fname="sultan",))

    PIAIC ISLAMABAD
    id:1234
    Name:mubashir
    Father's Name:sultan
    Course:Aero
    timing:3 to 12

None

In [62]:
print(id_card(34,sname="qasim",course="Aero",timing="3 to 12",fname="sultan"))

    PIAIC ISLAMABAD
    id:34
    Name:qasim
    Father's Name:sultan
    Course:Aero
    timing:3 to 12

None

# ARGUMENT WITH LIST

In [63]:
def id_card(sid,sname,fname,course,timing):
    text="""
    PIAIC ISLAMABAD
    id:{}
    Name:{}
    Father's Name:{}
    Course:{}
    timing:{}
    """.format(sid,sname,fname,course,timing)
    print(text)

             #problem due to positioning

l1=[1,"qasim","hassn","AI","2 TO 5"]
print(id_card(l1[0],l1[1],l1[2],l1[3],l1[4]))

    PIAIC ISLAMABAD
    id:1
    Name:qasim
    Father's Name:hassn
    Course:AI
    timing:2 TO 5

None

In [65]:
print(*l1)
print(id_card(*l1))

1 qasim hassn AI 2 TO 5

    PIAIC ISLAMABAD
    id:1
    Name:qasim
    Father's Name:hassn
    Course:AI
    timing:2 TO 5

None

# ARGUMENT WITH DICTIONARY

In [69]:
def id_card(sid,sname,fname,course,timing):
    text="""
    PIAIC ISLAMABAD
    id:{}
    Name:{}
    Father's Name:{}
    Course:{}
    timing:{}
    """.format(sid,sname,fname,course,timing)
    print(text)

d1={"sid":1,
    "sname":"qasim",
    "fname":"hassn",
    "course":"AI",
    "timing":"2 TO 5"}
print(id_card(**d1))

    PIAIC ISLAMABAD
    id:1
    Name:qasim
    Father's Name:hassn
    Course:AI
    timing:2 TO 5

None

In [73]:
l=list(d1.items())

In [74]:
l

[('sid', 1),
 ('sname', 'qasim'),
 ('fname', 'hassn'),
 ('course', 'AI'),
 ('timing', '2 TO 5')]

In [75]:
print(id_card(*l))

    PIAIC ISLAMABAD
    id:('sid', 1)
    Name:('sname', 'qasim')
    Father's Name:('fname', 'hassn')
    Course:('course', 'AI')
    timing:('timing', '2 TO 5')

None

# RECURSIVE FUNCTIONS

In [76]:
def abc(n):
    if n==1:
        return 1
    return n * abc(n-1)
abc(5)

120

# GENARATOR FUNCTIONS

In [ ]:
1)ITERATABLE
2)REMMEMBERS PAST VALUE
3)DOESNT ALLOACATE VALUES IN MEMORY

In [80]:
def abc():
    for i in range(11):
        yield i                      #one by one genrate and return value
a=abc()                              #efficient memory utilization
print(a)
print(next(a))
print(next(a))
print(next(a))
print(list(a))

<generator object abc at 0x0000022F6ECA64F8>
0
1
2
[3, 4, 5, 6, 7, 8, 9, 10]

# LAMBDA FUNCTIONS

In [82]:
def abc(x,y):
    return x+y
abc(2,6)

8

In [84]:
p = lambda x,y:x+y
p(2,2)

4

In [1]:
z=lambda x,y:x>y
z(2,3)

False